[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = http://github.com/Townk/vim-autoclose.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = http://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = http://github.com/tpope/vim-rake.git
[submodule "bundle/IndentConsistencyCop"]
	path = bundle/IndentConsistencyCop
	url = http://github.com/vim-scripts/IndentConsistencyCop.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = http://github.com/sjbach/lusty.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = http://github.com/msanders/snipmate.vim
[submodule "bundle/tabman.vim"]
	path = bundle/tabman.vim
	url = http://github.com/kien/tabman.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = http://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = http://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/hallison/vim-markdown.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = http://github.com/xolox/vim-session.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = ../../vim-ruby/vim-ruby.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = ../../tpope/vim-surround.git
